
1
rules_version = '2';
2
​
3
// Craft rules based on data in your Firestore database
4
// allow write: if firestore.get(
5
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
6
// Firebase Storage Rules
7
service firebase.storage {
8
  match /b/{bucket}/o {
9
    match /resumes/{userId}/{allPaths=**} {
10
      allow read, write: if request.auth != null && request.auth.uid == userId;
11
    }
12
  }
13
}
